<html>
<head>
<title>Tweeplies = Twitter + Replies. Find everybody who replied to any tweet!</title>
</head>
<body>
Tweeplies = Twitter + Replies. <br/>
Sometimes your friend or just somebody else tweeted interesting question. You want to see all the answers to it, but how you do that?!<br/>
Enter full URL with your status message and we'll give you the results! (but not all, as we give you what Twitter gives us)<br/><br/>

<form action="/results" method="post">
<input type="text" name="targetmessage" size="45" value="http://twitter.com/YOURNAME/status/1234567890" onclick="if(this.value=='http://twitter.com/YOURNAME/status/1234567890'){this.value='';}" onblur="if(this.value==''){this.value='http://twitter.com/YOURNAME/status/1234567890';}"/>
<input type="submit" value="Who replied to this message?"/>
</form>

<br/>
<br/>
<br/>
<br/>
<hr/>
Source code is free and available on <a href="http://github.com/westla7/who-replied-to/">GitHub</a>. Just a nice toy from QWE3 Inc.
Tweet <a href="http://twitter.com/home?status=RT+%40alexqwe+Find+replies+to+any+tweet+http%3A%2F%2Ftweeplies.qwe3.com">about us</a>!

</body>
</html>
