<html>
<head>
<title>Tweeplies = Twitter + Replies. Find everybody who replied to any tweet!</title>
</head>
<body>
Tweeplies = Twitter + Replies. <br/>
Sometimes your friend or just somebody else tweeted interesting question. You want to see all the answers to it, but how you do that?!<br/>
Enter full URL with your status message and we'll give you the results! <br/><br/>

<form action="/who_replied_to" method="post">
<input type="text" name="targetmessage" size="45" value="http://twitter.com/YOURNAME/status/1234567890" onclick="if(this.value=='http://twitter.com/YOURNAME/status/1234567890'){this.value='';}" onblur="if(this.value==''){this.value='http://twitter.com/YOURNAME/status/1234567890';}"/>
<input type="submit" value="Who replied to this message?"/>
</form>

</body>
</html>
