<html>
<head>
<title>Tweeplies = Twitter + Replies. Results</title>
</head>
<body>
and we are back again! <br/>

<% if @all_reply_links.empty? %>
	Well, we cannot find anything, sorry! <br/><br/>
<% else %>
	All the links with replies are below: <br/><br/>
	<% @all_reply_links.each do |link| %>
		<a href="<%= link %>"><%= link %></a> <br/>	
	<% end %>
<% end %>

<br/>
Want to <a href="/">try again</a>? or just tweet <a href="http://twitter.com/home?status=RT+%40alexqwe+Find+replies+to+any+tweet+http%3A%2F%2Ftweeplies.qwe3.com">about us</a>!<br/>

<br/>
<br/>
<br/>
<br/>
<hr/>
Source code is free and available on <a href="http://github.com/westla7/who-replied-to/">GitHub</a>. Just a nice toy from QWE3 Inc.
Tweet <a href="http://twitter.com/home?status=RT+%40alexqwe+Find+replies+to+any+tweet+http%3A%2F%2Ftweeplies.qwe3.com">about us</a>!

</body>
</html>
