div.container-wide {
	position:absolute;
	padding:0px;
	margin:0px;
	width:100%;
	border:0px solid green;
}
#container-home {
	position:relative;
	padding:0px;
	margin:0px;
	text-align:center;
	width:1003px;
	background:url(../i/bg-home.gif) no-repeat top;
	border:0px solid red;
}
div.logo {
	position:relative;
	padding:0px;
	margin:0px;
	padding-top:110px;
	text-align:center;
}
div.tagline {
	position:relative;
	padding:0px;
	margin:0px;
	padding-top:40px;
	padding-bottom:120px;
	text-align:center;
}
div.tagline01-int {
	position:relative;
	padding:0px;
	margin:0px;
	padding-top:15px;
	padding-bottom:15px;
	text-align:center;
}
div.tagline02-int {
	position:relative;
	padding:0px;
	margin:0px;
	padding-top:30px;
	padding-bottom:10px;
	text-align:center;
	white-space:nowrap;
}
div.problem {
	position:relative;
	padding:0px;
	margin:0px;
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
	white-space:nowrap;
}
div.no-results {
	position:relative;
	padding:0px;
	margin:0px;
	padding-top:35px;
	padding-bottom:70px;
	text-align:center;
	white-space:nowrap;
}

div.form {
	position:relative;
	width:1003px;
	text-align:center;
}
div.target-message-block {
	position:relative;
	padding:0px;
	margin:0px;
	text-align:center;
	padding-left:175px;
	padding-right:175px;
}
div.target-message01 {
	position:relative;
	padding:0px;
	margin:0px;
	text-align:center;
	width:650px;
	height:11px;
	background:url(../i/bg-target01.gif) no-repeat top;
}
div.target-message02 {
	position:relative;
	padding:0px;
	margin:0px;
	text-align:center;
	padding:10px;
	padding-left:25px;
	padding-right:25px;
	font-size:28px;
	letter-spacing:-1px;
	color:#303030;
	width:600px;
	background:#ffffff;
}
div.target-message03 {
	position:relative;
	padding:0px;
	margin:0px;
	width:650px;
	height:3px;
	background:url(../i/bg-target02.gif) no-repeat bottom;
}
div.by {
	position:relative;
	padding:0px;
	margin:0px;
	text-align:center;
	padding-top:15px;
	font-size:16px;
	letter-spacing:0px;
	color:#C0C0C0;
}


div.reply-block {
	position:relative;
	padding:0px;
	margin:0px;
	text-align:center;
	padding-left:175px;
	padding-right:175px;
	margin-bottom:10px;
}
div.reply01 {
	position:relative;
	padding:0px;
	margin:0px;
	text-align:center;
	width:650px;
	height:11px;
	background:url(../i/bg-target01.gif) no-repeat top;
}
div.reply02 {
	position:relative;
	padding:0px;
	margin:0px;
	text-align:center;
	padding:10px;
	padding-left:25px;
	padding-right:25px;
	font-size:22px;
	letter-spacing:0px;
	color:#303030;
	width:600px;
	background:#ffffff;
}
div.reply03 {
	position:relative;
	padding:0px;
	margin:0px;
	width:650px;
	height:3px;
	background:url(../i/bg-target02.gif) no-repeat bottom;
}
div.by-reply {
	position:relative;
	padding:0px;
	margin:0px;
	text-align:center;
	padding-top:10px;
	font-size:16px;
	letter-spacing:0px;
	color:#C0C0C0;
}


div.footer {
	position:relative;
	padding:0px;
	margin:0px;
	padding-top:80px;
	padding-bottom:20px;
	text-align:center;
	width:1003px;
	font-size:12px;
	color:#54B6BB;
	line-height:160%;
	font-family:Arial,Georgia;
}
div.footer strong {
	font-weight:bold;
	font-size:12px;
	color:#20888D;
}

div.qwe3 {
	position:relative;
	padding:0px;
	margin:0px;
	padding-top:20px;
	padding-bottom:15px;
	text-align:center;
	width:1003px;
	background:url(../i/hr.gif) no-repeat top;
}